USE [master]
GO
/****** Object:  Database [Gestao]    Script Date: 28/06/2024 08:45:09 ******/
CREATE DATABASE [Gestao]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Gestao', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\Gestao.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Gestao_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\Gestao_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Gestao].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Gestao]
GO
/****** Object:  Table [dbo].[Carro]    Script Date: 28/06/2024 08:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carro](
	[id_carro] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](100) NOT NULL,
	[Placa] [varchar](8) NOT NULL,
	[Id_motorista_principal] [int] NULL,
	[Id_motorista_adicionais] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[colaborador]    Script Date: 28/06/2024 08:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[colaborador](
	[id_colab] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](50) NOT NULL,
	[telefone] [varchar](11) NULL,
	[departamento] [varchar](50) NOT NULL,
 CONSTRAINT [PK_colaborador] PRIMARY KEY CLUSTERED 
(
	[id_colab] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MotoristaAdicionais]    Script Date: 28/06/2024 08:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MotoristaAdicionais](
	[id_mot_adicional] [int] NOT NULL,
	[nome] [varchar](100) NOT NULL,
	[telefone] [varchar](11) NULL,
	[grau_parentesco] [varchar](50) NOT NULL,
	[id_colab] [int] NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
